*{
    box-sizing: border-box;
}
.container{
    border: 5px solid lightgray;
    padding: 24px 24px 0 24px;
}
.row{
    max-width: 600px;
    display: flex;
    justify-content: space-between;
}
.box{
    border: 4px solid lightgrey;
    margin-bottom: 24px;
}
.box-wrapper{
   width: 45%;

}
.box-small{
    height: 50px;
}
.box-tiny{
    width: 30%;
    height: 50px;
}
.tiny-wrapper{
    display: flex;
    justify-content: space-between;
}
.box-large{
    width: 45%;
}
